<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
		{% endblock  %}
	</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style3.css' %}" />
</head>
<body>
	<h1>
		{{ title }}
	</h1>
	<table>
	{% for i in range_list %}
		<tr>
			{% for m in header %}
				{% if i %}
					<td class="case" data-line={{ i }} data-color={{ m }}> {{ i }}
				{% else %}
					<th class="head" data-line={{ i }} data-color={{ m }}> {{ m }}
				{% endif %}
				{% if i %}
					</td>
				{% else %}
					</th>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	</table>	
</body>
</html>
